# compiled output
**/dist/
dist/
**/node_modules/
node_modules/
**/build/
build/
**/out/
out/
**/.next/
.next/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
**/coverage/
coverage/
**/.nyc_output/
.nyc_output/

# IDEs and editors
**/.idea/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.swo
*~

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
**/.env
.env
**/.env.development.local
.env.development.local
**/.env.test.local
.env.test.local
**/.env.production.local
.env.production.local
**/.env.local
.env.local
**/.env*.local
.env*.local

# temp directory
**/.temp/
.temp/
**/.tmp/
.tmp/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Prisma
**/generated/prisma/
generated/prisma/
**/prisma/migrations/.migration_lock.toml

# Angular (para cuando crees el frontend)
**/.angular/
.angular/