<nav class="navbar">
  <div class="navbar-start">
    <button class="btn-toggle-sidebar" (click)="onToggleSidebar()" title="Toggle sidebar" aria-label="Toggle navigation">
      ☰
    </button>
    <a routerLink="/projects" class="navbar-brand" title="Go to projects">
      <img class="navbar-logo" src="assets/images/logoPM.png" alt="Project Manager" />
      <span class="navbar-title">Project Manager</span>
    </a>
  </div>
  
  <div class="navbar-spacer"></div>
  
  <div class="navbar-end">
    <span class="navbar-hint">(More features coming soon)</span>
  </div>
</nav>
